* {
  box-sizing: border-box;
}

body {
  font: 20px/1.5 nimbus-sans-condensed, sans-serif;
  padding: 1.5rem;
}

.page {
  max-width: 60rem;
  margin: 0 auto;
}

.bio {
  padding: 1.5rem;
  text-align: center;
}

.bio img {
  max-width: 20rem;
}

.post {
  padding: 1.5rem;
  text-align: center;
}

footer {
  font-size: small;
  text-transform: uppercase;
  color: #999;
  padding: 3rem;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    padding: 0;
  }
  .posts, footer {
    padding-left: 0;
    padding-right: 0;
  }
}
